.hero {
  padding-top: 16px

  display: flex
  justify-content: space-between

  margin-bottom: 80px
}

.hero-title {
  font-size: 64px;
  margin-bottom: 32px
}

.hero-search-bar {

}

.hero__search {
  padding: 16px 128px 16px 32px;
  background-position: top 12px right 24px;
  margin-right: 8px
  background-size: 35px;
  font-size: 24px
}

.index-title {
  margin-bottom: 32px
  //text-align: center
  font-size: 32px;
  line-height: 1.6
}
