.layer.register-layer {


}

.container.register-container {

  padding: 32px 0

}

.register-terms {
  margin-top: 56px

  font-size: 16px

  text-align: center

  a {
    color $mint
    text-decoration: underline
    font-weight: bold;
  }

}


  .register-actions{

  }
