.assets-title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 32px;
  &--centerize {
    text-align: center
  }
}

.asset-layer {

}

.asset-container {

  padding-top: 136px;
  padding-bottom: 136px;

}

.asset {
  display: flex;

  margin-bottom: 148px;
}


.asset-info {

}

.asset-name {
  font-weight: normal;
  font-size: 64px;
}

.asset-desc {
  font-weight: 600;
  font-size: 16px;
}

//.item--illustration {
//
//
//
//  .item-name {
//    font-size: 32px
//  }
//
//  .item-from {
//    font-size: 16px
//  }
//
//  .asset-illustration {
//    width: 100%
//
//    margin-right: 64px
//
//    padding-top: 8px
//
//    img {
//      width: 100%
//    }
//
//  }
//
//  .items-formats-files {
//    margin-top: 8px
//  }
//
//  .item-tags {
//    margin-top: 0px
//    margin-bottom: 0px;
//  }
//
//
//}