.card-wrap{
  display: flex

  flex-direction: column
  align-items: center
}

.card {
  box-shadow: 10px 10px 90px -20px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  padding: 48px 64px 64px 64px
  background-color: #ffffff
}

  .card--560{
    width: 560px
    max-width 560px;
  }

.card__header {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 24px
  text-align: center
}

  .card__desc{

    background-color: #e1fff1;

    padding: 16px;

    border-radius 8px;

    font-size: 13px

    margin-bottom: 24px
  }


  .card-alert{

    width: 560px
    padding: 16px 24px 16px 24px;

    border-radius: 8px;

    margin-bottom: 24px


    background: #ffe47a;

    p{

      margin-top: 0
      margin-bottom: 8px

      &:last-child{
        margin-bottom: 0
      }
    }
  }



