
.bm-form-group {
  margin-bottom: 24px
}

.bm-input-group {

  display: flex

  position: relative

  .bm-input-text {
    padding-left: 40px;
  }

}

.bm-input-prepend {

  position: absolute

  left: 11px;

  top: 5px;

  img, svg {
    height: 20px
    width: auto;
  }
}

.bm-input-text {

  bm-text()

  padding: 6px 12px

  border: none;

  border-bottom: 1px solid #E4E4E4;

  height: 32px

  background: #fff;

  &--long {
    width: 380px
  }

  &--short {
    width: 200px
  }
}
.bm-textarea {

  bm-text()

  height: 128px

  padding: 6px 12px

  border: none;

  border-bottom: 1px solid #E4E4E4;

  background: #f5f9f7;

  &--long {
    width: 380px
  }

  &--short {
    width: 200px
  }
}

.bm-label {
  color: $extradarkgray;

  margin-bottom: 0px
}

.bm-button-group--line {
  display: flex
  align-items: center
}

.bm-form-glue {
  color: $darkgray
}




