.icons{
    display: flex;

    flex-wrap: wrap;

}

.icon-preview{
    padding: 16px;
    width: 160px;

    border-top: 4px solid #efefef

    box-shadow: rgba(50, 50, 93, 0.12) 0px 13px 27px -5px, rgba(0, 0, 0, 0.05) 0px 8px 16px -8px;

    border-radius 16px

    margin-right: 28px;
    margin-bottom: 28px;



    * {
        width: 100%;
    }
}


.icon-preview--search{
    max-height 160px;

    img, svg{

        object-fit cover
    }
}