.login-card {

  z-index 4000
  position: absolute

  background-color: #fff;

  box-shadow: 10px 10px 90px -20px rgba(0, 0, 0, 0.25);

  top: 108px;

  right: 0;

  &::after {
    position: absolute

    background: #ffffff

    width: 24px;
    height: 24px;
    right: 144px;
    top: -4px;

    content " "

    transform rotate(45deg) translateX(-50%)
  }

}
