.payment {
  display: flex;
  //align-items: center;

}

.payment__options {
  display: flex;
  align-items: center;
}

.payment__price {
  font-weight: normal;
  font-size: 56px;
  margin-right: 32px;
}

.payment__price--centerized {
  text-align: center
}

.payment__buy {
  margin-right: 24px;
}

.payment__or {
  margin-right: 24px;
  font-weight: 600;
  font-size: 16px;
}

.payment__subscribe {
  color: $mint;
  flex: 1;

  &:hover {
    color: $mint;

    transform: translateY(-2px);

    tr();
  }
}
