.pricing {

  min-width: 320px

  padding: 24px 32px 32px 32px;

  bm-box-shadow()
  bm-box-border()
  border-radius: 24px;

}

.pricing-main {

}

.pricing__title {
  font-size: 24px;
  margin-bottom: 8px
}

.pricing__license {

  display: flex

  //align-items: center

  padding: 8px 0

  cursor: pointer

  margin-bottom: 8px

  &--hidden {
    //display: none;
  }

  &:last-child {
    margin-bottom: 0
  }
}

.pricing__more {
  color: #00a4f9;
  border-bottom: 1px dotted #00a4f9;

  cursor: pointer

  margin-left: 34px
}

.pricing__control {
  padding-top: 3px;
  padding-right: 12px;

}

.pricing__name {

}

.pricing__exact {
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: 600;

}

.pricing__info {
  display: flex

  flex-direction: column

  align-items: flex-start
}

.pricing__hint {
  font-size: 12px
  font-weight: 300

  margin-left: 2px
}

.pricing__value {
  margin-left: auto
  font-weight: 600
  font-size: 28px
}

.pricing__value--hide {
  opacity 0.5;

  color $mint
}

.pricing__actions {
  align-items: center
  display: flex

  justify-content: center
}

.pricing__or {
  margin: 0 16px
}

.pricing__licenses {
  margin-bottom: 16px

  width: 100%
}