.footer-layer {
  background: $carbon;

  margin-top: 80px
}

.footer {
  color: #ffffff;

  padding-top: 72px;
  padding-bottom: 72px;
  display: flex;

  a {
    color: $white;
    text-decoration: none;
    font-weight: 600;
  }

}

.credits {

}

.credits__logo {
  margin-bottom: 40px;
}

.copyright {

}

.footer-links {
  margin-left: auto;
  display: flex;

}

.footer-links__block {

  margin-right: 112px;

  display: flex;

  flex-direction: column;

  a{
    margin-left: 4px
  }

  &:last-child {
    margin-right: 0;
  }

}

.footer-links__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.375;
  margin-bottom: 8px;

  color: $mint

}
