bm-text(){

  font-family: $font-family

  line-height: $line-height;

  font-size: $font-size;

  color $carbon;
}

bm-box-shadow() {
  box-shadow: 0px 12px 65px rgba(0, 0, 0, 0.06);

}

bm-box-border() {
  border: 1px solid #E4E4E4;
}

bm-box-radius() {
  border-radius: 32px;
}

bm-box-hovering() {
  tr()
  &:hover {

    border: 1px solid $lightmint
    box-shadow: 0px 12px 65px rgba(102, 255, 224, 0.3);
    transform translateY(-4px)
    tr()
  }
}
