$white = #ffffff
rupture.scale = 0 415px 768px 1024px
rupture.scale-names = 'mobile' 'mobile-landscape' 'tablet' 'desktop'
rupture.mobile-cutoff = 760px
rupture.desktop-cutoff = 1024px

$white = #fff;
$black = #000;
$carbon = #333;
$mint = #00CCA2;
$lightmint = lighten($mint, 80%);
$lightgray = #D3D3D3;
$darkgray = #A0A0A0;
$extradarkgray = #666666;
$max-width = 1200px;

$font-family = Nunito, sans-serif;
$line-height = 1.375;
$font-size = 16px
